#dropdown-basic {
  background-color: #ced4da;
  border: none;
  color: #495057;
}

.dropdown-menu.show {
  background-color: #ced4da;
}

#row {
  width: 75%;
  height: 500px;
  overflow: scroll;
}

#row2 {
  width: 100%;
  text-align: left;
}

#card-img {
  height: 230px;
}

#title-book {
  height: 100px;
  overflow: hidden;
  margin-bottom: 5px;
}

@media (max-width: 425px) {
  #row {
    width: 100%;
  }
}
